.vscode/**
.vscode-test/**
out/test/**
src/**
.gitignore
.yarnrc
tsconfig.json
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
node_modules/**
!node_modules/fast-xml-parser/**
!node_modules/strnum/**
